<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>

<div class="heade">
<!--
    <div th:replace="~{includes/searchbar :: searchForm}">
-->
    <div th:insert="~{includes/searchbar :: searchForm}">

    </div>
</div>
    <h1>Witaj na blogu</h1>

    <!--<ul>
        <li th:each="post : ${posts}">
            <span th:text="${post.title}"></span><br>
            <span th:text="${post.content}"></span><br>
            <span th:text="${post.added}"></span><br>
        </li>
    </ul>-->
    <div th:each="post : ${posts}">
        <h1 th:text="${post.title}"></h1>
        <div th:text="${post.content}"></div>
        <div th:each="comment : ${post.comments}">
            <div th:text="${#dates.format(comment.audit.added,'yyyy-MM-dd HH:mm')}"></div>
            <div th:text="${comment.comment}"></div>
        </div>
    </div>


</div>

</body>
</html>